<div class="container">
  <mat-card>
    <mat-card-title>Contact With Me</mat-card-title>
    <mat-card-content>
      <div class="social">
        <a
          type="buton"
          href="https://linkedin.com/in/rishabhgist"
          mat-icon-button
          color="primary"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a
          type="buton"
          href="htpps://github.com/rishabhgist"
          mat-icon-button
          color="primary"
        >
          <i class="fa-brands fa-github"></i>
        </a>
        <a
          type="buton"
          href="https://rishabhgist.com"
          mat-icon-button
          color="primary"
        >
          <i class="fa-solid fa-globe"></i>
        </a>
      </div>
    </mat-card-content>
    <div class="contact-form">
        <form>

        </form>
    </div>
  </mat-card>
</div>
