<div class="container">
  <mat-card>
    <mat-card-title>Contact Me</mat-card-title>
    <mat-card-content>
      <div class="social">
        <a type="buton" href="https://linkedin.com/in/rishabhgist" mat-icon-button color="primary">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a type="buton" href="#" mat-icon-button color="primary">
          <mat-icon class="icon">github</mat-icon>
        </a>
        <a type="buton" href="#" mat-icon-button color="primary">
          <mat-icon class="icon">facebook</mat-icon>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
